.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6984b8;
  font-family: Arial, sans-serif;
  border-radius: 12px;
}

.form-card {
  background: #cb9393;
  padding: 40px;
  width: 320px;
  box-shadow: 0 8px 25px rgba(40, 35, 35, 0.08);
}
body {
  background-color: #03081e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color: #0a0909;
}

label {
  font-size: 0.9rem;
  color:/* #555;*/#0a0909;
}

input {
  width: 90%;
  padding: 12px 15px;
  margin: 8px 0 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  font-size: 1rem;
}

input:focus {
  border-color: #4e89ff;
  box-shadow: 0 0 5px rgba(78, 137, 255, 0.4);
}
button {
  width: 100%;
  padding: 12px;
  background-color: #4e89ff;
  color:#0a0909;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-weight: bold;
}

button:hover {
  background-color: #3c6dd4;
  transform: translateY(-2px);
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color:/* #555;*/#0a0909;
}

p a {
  color: #2d477b;
  text-decoration: none;
  font-weight: 500;
}
p a:hover {
  text-decoration: underline;
}